p.sample {
    color: #000000;
    background-color: #99cc00
}

#slide {
    width: 640px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}
#slide li {
    position: absolute;
    left: 0;
    top: 0;
}
