#slide {
    width: 640px;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#slide li {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
}

/*フォント*/

@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
body {
    font-family: "Roboto Slab", Garamond, "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}
